body {
    max-width: 40vw;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#top {
    background-color: rgb(225, 224, 162, 0.43);
    color: #a8855f;
    height: 150px;
    margin-top: 20px;
    padding-top: 20px;
}

a {
    color: black;
}

#links {
    padding: 20px;
    border-bottom: 0.5px solid grey;
}
