body {
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#top {
    background-color: rgba(227, 226, 170, 0.43);
    color: #9d8161;
    height: 150px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: underline dotted;
}

#nav {
    display: inline-block;
    padding: 15px 10px 15px 10px;
}

#image {
    background-image: url("chinarose.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    border-bottom: 3px solid;
}

#middle {
    border-top: 0.5px solid grey;
}

#text {
    text-align: start;
    border-bottom: 0.5px solid grey;
}

#bottom {
    padding: 10px;
}
